/* Add here all your CSS customizations */


#datatable-ecommerce-list_filter{
    position: relative;
    /* top: -36px;
    right: 14px; */
}

.dt-buttons{
    position: absolute;
    right: 0;
    top: -48px;
}

#has-search{
    height: 80px;
}

#has-search .form-control {
    padding-left: 2.375rem;
    /* max-width: 350px; */
}

#has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.uploadOuter {
    text-align: center;
    padding: 20px;
    strong {
      padding: 0 10px
    }
  }
  .dragBox {
    width: 100%;
    height: 80px;
    cursor: pointer;
    margin: 0 auto;
    position: relative;
    text-align: center;
    font-weight: bold;
    color: #999;
    border: 2px dashed #007bff;
    display: inline-block;
    transition: transform 0.3s;
    background: #007bff14;
    .dragInner{
      display: grid;
      cursor: pointer;
      font-weight: 400;
      /* padding: 8px; */
      color:#000;
  }
    i{
        font-size: 30px !important;
        line-height: 38px;
        cursor: pointer;
        padding: 6px;
        font-weight: 400;
        color: #007bff;
    }
    input[type="file"] {
      position: absolute;
      cursor: pointer;
      height: 100%;
      width: 100%;
      opacity: 0;
      top: 0;
      left: 0;
      /* display: none; */
    }
    .view {
      position: absolute;
      top: 0;
      width: 100%;
      height: 80px;
    }
  }
  /* .dragBox .dragInner {
    line-height: 95px;
    display: grid;
        
  } */
  .draging {
    transform: scale(1.1);
  }
  #preview {
    text-align: center;
    img {
      max-width: 100%
    }
  }